@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.container {
    justify-content: flex-start;
    /* margin: 1rem auto; */
    height: 100%;
    align-items: flex-start;
}

h1 {
    margin: 1rem auto;
    width: 100%;
}

p {
    max-width: 100%;
    padding: 0 5%;
    color: white;
    font-size: 1rem;
    margin: .5rem;
    text-align: justify;
}

b {
    font-weight: 600;
    font-size: 1rem;
}

.back a{
    position: fixed;
    right: 1rem;
    bottom: 1.3rem;
    color: white;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--bluish-gray-2);
    transition: .3s;
}

.back a:hover {
    background-color: var(--button);
    color: black;
}

.code {
    margin: 2rem auto;
    min-height: 5rem;
    padding: 1rem;
    width: 70%;
    font-family: 'Inconsolata', monospace;
    background-color: var(--bluish-gray-3);
    color: white;
    font-size: 1rem;
}

.infos {
    display: flex;
    /* margin-bottom: .3rem; */
}

.infos div {
    margin-right: .3rem;
}

.files {
    font-size: inherit;
    font-family: inherit;
    color: lightcoral;
    padding-left: 2rem;
}

.command, .infos div {
    margin-bottom: .3rem;
    font-family: 'Inconsolata';
    font-size: 1rem;
}
.user {
    color: lightgreen
}
.mingw {
    color: lightcoral;
}
.directory {
    color: khaki;
}
.branch {
    color: lightskyblue;
}

img {
    max-width: 70%;
    margin: 1rem auto;
}

footer {
    height: 3rem;
}